/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./components/Experience.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.Experience_timeline__Fb4vf {
  position: relative;
  margin-left: 40px;
  padding-left: 40px;
  border-left: 3px solid #343a40;
}

.Experience_timelineItem__aPVcx {
  position: relative;
  margin-bottom: 50px;
  padding-left: 30px; /* 为文字内容预留空间 */
}

.Experience_timelineBadge__TJ6Yk {
  position: absolute;
  left: -60px;
  top: 0;
  background: #343a40;
  color: white;
  padding: 10px 18px;
  border-radius: 50px;
  font-weight: bold;
  font-size: 0.85rem;
  white-space: nowrap;
  z-index: 1;
}

.Experience_timelineContent__Huq9M {
  background: #fff;
  padding: 5px 10px;
}

